@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

*{
  font-family: 'Itim', cursive;
}
body{
  background-color: #111827;
  color: #e9fac8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  background: linear-gradient(90deg, rgb(236, 72, 153), rgb(239, 68, 68), rgb(245, 158, 11));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Pattaya', sans-serif;
  font-size: 35pt;
  letter-spacing: 1px;
}
p{
  font-size: 25px;
}

.container{
  width: 40em;
}
.tech svg{
  font-size: 1em;
  margin-right: 0.5em;
}
.custom-btn {
  width: auto;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


b, a{
  color: rgb(251,33,117);
}

/* 11 */
.btn-11 {
  border: none;
  background: rgb(251,33,117);
    background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
    color: #fff;
    overflow: hidden;
    font-size: 15px;
}

.btn-11:hover {
    text-decoration: none;
    color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}img{
  border-radius: 10px;
  height: 8em;
}
.theme{
  display: flex;
  justify-content: space-around;
}
a:hover{
  text-decoration: none;
}
.btn-11:hover{
  opacity: .7;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
